strands-agents
strands-agents-tools
strands-agents[litellm]
uv
boto3
langchain[aws]
langgraph
langsmith[otel]
duckduckgo-search
langchain-community
opentelemetry-instrumentation-langchain
bedrock-agentcore
bedrock-agentcore-starter-toolkit
ipython
ipykernel
pandas
jupyterlab
openpyxl