# Configuration files with sensitive information
config/*.env
*.env

# Virtual environment
venv/

# Lambda layer
psycopg2-layer.zip

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Local development files
.DS_Store